.about{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    background-color: rgb(0, 0, 0);
    z-index: 0;
  }
  .about::before{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(../images/492757.jpg);
    content: '';
    inset: 0;
    position: absolute;
    opacity: 0.34;
    z-index: 0;

  }
  .content{
    height: 40rem;
    width: 70%;
    background-color: rgb(27, 230, 213);
    position: relative;
    isolation: isolate;

  }
.ted{
    position: sticky;
    width: 50%;
    left: 200;
}