html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
body{
    isolation: isolate;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
*{
    isolation: isolate;
    margin: 0;
  }
nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.Container{
    isolation: isolate;
    margin: 0;
    padding: 0;
    height: 8%;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 2;
    align-items: center;
}
.mainNavegation{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.LogoNav{
    width: 10%;
}
.mainNavegation a{
    color: white;
    font-size: large;
    cursor: pointer;
    position: relative;
    font-family: system-ui;
    padding: 0 10px;
    
}
ul{
    
    flex-direction: row;
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
}
.mainNavegation a::after{
    position: absolute;
    bottom: 0;
    padding-bottom: 1px;
    left: 0;
    content: "";
    width: 0%;
    height: 0px;
    background-color: rgb(255,163,45);
    transition: 0.3s;
}
.mainNavegation a:hover::after{
    width: 100%;
}
.socialMediaNavegation{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.socialIcon{
    color: white;
    cursor: pointer;
    margin-left: 50px;
}
.socialIcon:hover{
    color: rgb(255,163,45);
    
}