html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
body{
    isolation: isolate;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
*{
    isolation: isolate;
    margin: 0;
  }
nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.Container{
    isolation: isolate;
    margin: 0;
    padding: 0;
    height: 8%;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 2;
    align-items: center;
}
.mainNavegation{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.LogoNav{
    display: flex;
    width: 10%;
}
.mainNavegation a{
    color: rgb(206, 206, 206);;
    font-size: large;
    cursor: pointer;
    position: relative;
    font-family: system-ui;
    padding: 0 10px;
    
    
}
ul{
    
    flex-direction: row;
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
}
.mainNavegation a:hover{
    color: white;
    transition: 0.3s;
}
.mainNavegation a::after{
    position: absolute;
    bottom: 0;
    padding-bottom: 1px;
    left: 0;
    content: "";
    width: 0%;
    height: 0px;
    color: white;
    background-color: rgb(255,163,45);
    transition: 0.3s;
}
.mainNavegation a:hover::after{
    width: 100%;
    color: white;

}
.socialMediaNavegation{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.socialIcon{
    color: rgb(206, 206, 206);
    cursor: pointer;
    display: flex;
    margin-left: 50px;
}
.socialIcon:hover{
    color: rgb(255,163,45);
    
}
.Hamburguer{
    display: none;
    position: absolute;
    right: 100px;
    color: white;
    align-items: center;
    cursor: pointer;
}
.Hamburguer:checked{
    color: orange;
}
@media (max-width: 858px) {
    .Hamburguer{
        display: flex;
        top: 0;
        right: 0;
        margin: 5%;
    }
    .mainNavegation{
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        

    }
    .socialIcon{
        margin: 0;
        
    }
    nav{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.842);
        transition: 2s;

    }
    .Container{
        height: 100%;
        transform: translateY(0vh);
    }
    
    .socialMediaNavegation{
        height: 20%;
        bottom: 0;
        margin: 0;
        gap: 30px;
    }
    ul{
        padding: 0;
        position: fixed;
        width: 100%;
        height: 70%;
        overflow-y: auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 1s;
        
    }
    li{
        display: flex;
        flex-direction: column;
        margin: 0;


    }
    .mainNavegation a{
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 100px;
        margin-top: 30px;
        
    }
    .LogoNav{
        position: absolute;
        top: 0;
        left: 0;
        margin: 5%;
    }
    .Container.disabled {
       transform: translateY(0vh);
       height: 0%;
      }
      
  
}