html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root{
  margin: 0;
}
.container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
section{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.landing{
  height: 100%;
  width: 100%;
  background-color: rgb(28,180,167); 
  display: flex;
  flex-direction: row;
}
.LoraxImage{
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.LoraxPng{
  transform: scaleX(-1);
  width: 60%;
}
.LandingText{
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}